body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:PeachPuff;
}
.clock{
	display: flex;
	width:700px;
	height:700px;
	justify-content:center;
	align-items:center;
	background: url("245bbqo72lenq5flx0r8.png");
    background-size: cover;
	border: 3px solid MediumVioletRed;
	border-radius: 50%;
	animation: changeBackgroundColor 30s infinite alternate;
}

@keyframes changeBackgroundColor {
      0% { background-color:MistyRose; }
      50% { background-color:Plum ; }
      100% { background-color: Pink; }
    }

.clock:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: MediumVioletRed;
    border-radius: 50%;
    
}


.hour{
  position:absolute;
  height: 166px; 
  width: 5px;
  left: 49.70%;
  top: 34.70%;
  transform-origin: 40% 95%;
  background-color: MediumVioletRed;
}


.minute {
  
  position:absolute;
  height: 246px; 
  width: 5px;
  left: 48.97%;
  top: 26.8%;
  transform-origin: 50% 95%;
  background-color: MediumVioletRed;
  
}

.second {
  
  position:absolute;
  height: 277px; 
  width: 3px;
  left: 49.5%;
  top: 23.4%;
  transform-origin: 55% 95%;
  background-color: Crimson;
 
}